header {
  background-color: black;
}

body {
  font-size: 50px;
}

.block__item {
  font-size: 2px px;
}
.block__image {
  height: 100%;
}
.block__text {
  text-align: center;
}
.block__top {
  position: absolute;
}

.red {
  color: red;
}